<h1>New Quote Received</h1>
<p>
    A new quote has been received with the following details:
</p>
<ul>
    <li><strong>Company Name:</strong> <%= @quote.company_name %></li>
    <li><strong>Contact Name:</strong> <%= @quote.contact_name %></li>
    <li><strong>Email:</strong> <%= @quote.email %></li>
    <li><strong>Number:</strong> <%= @quote.phone %></li>
</ul>
<p>Click <a href="https://taa-logistics-server.onrender.com/quotes/<%= @quote.id %>">here</a> to see the full quote request.</p>