<%= form_with(model: quote, html: { class: "needs-validation" }) do |form| %>
  <% if quote.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :company_name, class: "form-label" %>
    <%= form.text_field :company_name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :contact_name, class: "form-label" %>
    <%= form.text_field :contact_name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :destination, class: "form-label" %>
    <%= form.text_field :destination, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :rate_per_mile, class: "form-label" %>
    <%= form.number_field :rate_per_mile, step: 'any', class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :fsch_percent, class: "form-label" %>
    <%= form.number_field :fsch_percent, step: 'any', class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :questions_or_notes, class: "form-label" %>
    <%= form.text_field :questions_or_notes, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
