<div id="<%= dom_id quote %>">
  <p>
    <strong>Company name:</strong>
    <%= quote.company_name %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= quote.contact_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= quote.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= quote.phone %>
  </p>

  <p>
    <strong>Fax:</strong>
    <%= quote.fax %>
  </p>

  <p>
    <strong>Commodity:</strong>
    <%= quote.commodity %>
  </p>

  <p>
    <strong>Commodity temp:</strong>
    <%= quote.commodity_temp %>
  </p>

  <p>
    <strong>Commodity gross weight:</strong>
    <%= quote.commodity_gross_weight %>
  </p>

  <p>
    <strong>From:</strong>
    <%= quote.from %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= quote.delivery_date %>
  </p>

  <p>
    <strong>Delivery zip code:</strong>
    <%= quote.delivery_zip_code %>
  </p>

  <p>
    <strong>Shipping date:</strong>
    <%= quote.shipping_date %>
  </p>

  <p>
    <strong>Shipping zip code:</strong>
    <%= quote.shipping_zip_code %>
  </p>

  <p>
    <strong>Cs:</strong>
    <%= quote.CS %>
  </p>

  <p>
    <strong>Container size:</strong>
    <%= quote.container_size %>
  </p>

  <p>
    <strong>Pallets:</strong>
    <%= quote.pallets %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= quote.equipment_type %>
  </p>

  <p>
    <strong>Rail destination:</strong>
    <%= quote.rail_destination %>
  </p>

  <p>
    <strong>Questions or notes:</strong>
    <%= quote.questions_or_notes %>
  </p>

</div>
