<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">Quotes</h2>
  <div class="d-flex align-items-center">
    <%= search_form_for @q, url: quotes_path, method: :get, html: { class: 'd-flex align-items-center me-3' } do |f| %>
      <%= f.label :contact_name_or_company_name_cont, "Name", class: 'me-2' %>
      <%= f.search_field :contact_name_or_company_name_cont, class: 'form-control me-2', style: 'width: 200px;' %>
      <%= f.submit "Search", class: 'btn btn-primary me-3' %>
    <% end %>
    <%= link_to new_quote_path, class: 'btn btn-success' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="quotesTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="customer-tab" data-bs-toggle="tab" data-bs-target="#customer" type="button" role="tab" aria-controls="customer" aria-selected="true">
                <i class="fas fa-users me-2"></i>Customer Created Quotes
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="employee-tab" data-bs-toggle="tab" data-bs-target="#employee" type="button" role="tab" aria-controls="employee" aria-selected="false">
                <i class="fas fa-user-tie me-2"></i>Employee Created Quotes
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="quotesTabsContent">
            <div class="tab-pane fade" id="employee" role="tabpanel" aria-labelledby="employee-tab">
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Company Name</th>
                      <th>Contact Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Origin</th>
                      <th>Destination</th>
                      <th>Created At</th>
                      <th class="text-end">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @employee_quotes.each do |quote| %>
                      <tr>
                        <td><%= quote.company_name %></td>
                        <td><%= quote.contact_name %></td>
                        <td><%= quote.email %></td>
                        <td><%= quote.phone %></td>
                        <td><%= quote.from %></td>
                        <td><%= quote.destination %></td>
                        <td><%= quote.created_at.strftime("%m/%d/%Y %I:%M %p") %></td>
                        <td class="text-end">
                          <div class="btn-group">
                            <%= link_to quote_path(quote), class: "btn btn-sm btn-info", title: "View" do %>
                              <i class="fas fa-eye"></i>
                            <% end %>
                            <%= link_to edit_quote_path(quote), class: "btn btn-sm btn-warning", title: "Edit" do %>
                              <i class="fas fa-edit"></i>
                            <% end %>
                            <%= button_to quote_path(quote), method: :delete, class: "btn btn-sm btn-danger", title: "Delete", form: { data: { turbo_confirm: "Are you sure?" } } do %>
                              <i class="fas fa-trash"></i>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Company Name</th>
                      <th>Contact Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Origin</th>
                      <th>Destination</th>
                      <th>Created At</th>
                      <th class="text-end">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @customer_quotes.each do |quote| %>
                      <tr>
                        <td><%= quote.company_name %></td>
                        <td><%= quote.contact_name %></td>
                        <td><%= quote.email %></td>
                        <td><%= quote.phone %></td>
                        <td><%= quote.from %></td>
                        <td><%= quote.destination %></td>
                        <td><%= quote.created_at.strftime("%m/%d/%Y %I:%M %p") %></td>
                        <td class="text-end">
                          <div class="btn-group">
                            <%= link_to quote_path(quote), class: "btn btn-sm btn-info", title: "View" do %>
                              <i class="fas fa-eye"></i>
                            <% end %>
                            <%= link_to edit_quote_path(quote), class: "btn btn-sm btn-warning", title: "Edit" do %>
                              <i class="fas fa-edit"></i>
                            <% end %>
                            <%= button_to quote_path(quote), method: :delete, class: "btn btn-sm btn-danger", title: "Delete", form: { data: { turbo_confirm: "Are you sure?" } } do %>
                              <i class="fas fa-trash"></i>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
