<% if notice.present? %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<% if params[:id] == 'processed' %>
  <h2>Processed CSV Preview</h2>
  <% if @csv_data.present? %>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <% @csv_data.headers.each do |header| %>
            <th scope="col"><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @csv_data.each do |row| %>
          <tr>
            <% row.each do |field, value| %>
              <td><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-warning">No data available.</div>
  <% end %>
  <%= link_to "Download Processed CSV", download_processed_bids_path(filename: @processed_filename), class: "btn btn-primary" %>
<% else %>
  <h2>Bid Details</h2>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= @bid.inspect %></p>
    </div>
  </div>
<% end %>
