<p style="color: green"><%= notice %></p>

<div class="row justify-content-between align-items-center">
  <h2 class="col-auto">Inquiries</h2>

</div>
<div id="inquiries">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
        <th>Submitted</th>
        <th>Contacted</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @inquiries.each do |inquiry| %>
        <tr>     
            <td><%= inquiry.name %></td>
            <td><%= inquiry.email_address %></td>
            <td><%= inquiry.phone_number %></td>
            <td><%= inquiry.message %></td>
            <td><%= inquiry.created_at.strftime("%B %d, %Y") %></td>
            <td>
              <%= form_with(model: inquiry, url: inquiry_path(inquiry), method: :patch, local: true) do |f| %>
                <%= f.check_box :contacted, onchange: 'this.form.submit();' %>
              <% end %>
            </td>
            <td><%= link_to "Show this inquiry", inquiry %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @inquiries %>
</div>
